@using Microsoft.AspNetCore.Identity
@inject SignInManager<KanbanBoardUser> SignInManager
@inject UserManager<KanbanBoardUser> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Manage Users</a>
    </li>
}
