@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Your privacy is important to us. This application collects and stores limited personal information, such as your name, surname and email address, to enable core functionality such as user authentication and communication.</p>

<h3>What We Collect</h3>
<ul>
    <li>Email address (for login and notifications)</li>
    <li>Project and task data that you choose to create or manage</li>
</ul>

<h3>How We Use Your Data</h3>
<ul>
    <li>To authenticate you and provide access to your projects</li>
    <li>To support personalised features within the app</li>
    <li>o improve the overall user experience</li>
</ul>

<h3>Data Security</h3>
<p>We take reasonable precautions to protect your information from unauthorized access. However, no internet transmission or storage method is 100% secure.</p>

<h3>Your Choices</h3>
<ul>
    <li>You can delete your account and data at any time wthin the app or by contacting the app administrator.</li>
    <li>PWe do not share your data with third parties.</li>
</ul>

<h3>Contact</h3>
<p>If you have questions or concerns about your privacy, please contact us at rodneysimbatholanah@gmail.com.



